@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.open-sans-normal {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 150px;
}
.nav-tital {
  font-weight: 800;
  font-size: 36px;
  color: rgb(24, 24, 24);
}
.nav-tital .span-color {
  color: rgb(253, 110, 10);
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 42px;
}
.prinaru-color {
  color: rgb(71, 71, 71);
}
nav ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 16px;
}
.btn-promare {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  font-weight: 800;
  padding: 15px 30px;
  border: 2px solid transparent;
  transition: 0.6s;
}
.btn-promare a {
  color: white;
  transition: 0.3s;
}
.btn-promare:hover {
  background-color: transparent;
  border: 2px solid rgb(253, 110, 10);
  color: black;
}
.btn-promare a:hover {
  color: black;
}
ul .li a {
  transition: all 0.4s ease;
  display: flex;
}
ul .li a:hover {
  color: rgb(253, 110, 10);
  transform: translateY(-6px);
}
.banrar {
  display: flex;
  justify-content: space-between;
  padding: 20px 38px 20px 150px;
}
.baner-content {
  max-width: 550px;
  height: 300px;
  padding-top: 80px;
}
.baner-greatins {
  font-size: 35px;
  font-weight: 500;
}
.baner-dascrip {
  font-size: 18px;
  padding-bottom: 20px;
}
.baner-tital {
  font-size: 55px;
  font-weight: bold;
}
.baner-propail-pic {
  width: 500px;
}
.section-header {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}
.section-dascrption {
  font-size: 18px;
  color: rgb(117, 117, 117);
  text-align: justify;
}
.secandary-background {
  background: rgb(255, 248, 243);
}
main {
  max-width: 900px;
  margin: 0px auto;
}
.about {
  padding: 130px 150px;
  border-radius: 10px;
  text-align: center;
  margin-top: 130px;
}
.about-dascrtion {
  font-weight: 600;
}

.about-items {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;
}
